<div class="col-sm-1 side-menu"> 
  
  <a href="/"><%= image_tag("funderleague_logo.png", :alt => "logo", :id => "logo") %></a>
  
  <h2>Menu</h2>
  
  <div class="glyphicon glyphicon-dashboard"></div>
  <%= link_to "" , my_games_path, class: "glyphicon glyphicon-user", id: "my-games"%>
  <div class="glyphicon glyphicon-search"></div>
  <div class="glyphicon glyphicon-cog"></div>

</div>