<div class="container-fluid">

  <%= render 'dashboard/side_menu' %>


  <div class="col-sm-11">

    <h1>My Games</h1>

    <div class="row">

      <div class="result fifa">

        <div class="cont" style="text-align:center;">
          <div><h2>Fifa 2014</h2></div>
          
          <div style="width:300px; margin:auto; text-align:center;">

            <div class="result-box">
              <h3>3</h3>
              <h4>Player one</h4>
            </div>

            <div class="vs" style="float:left;height:100px;">
              <h3>VS</h3>
            </div>

            <div class="result-box" >
              <h3>2</h3>
              <h4>Player Two</h4>
            </div>

          </div> 
        
        </div>

      </div>

      <div class="result table-tennis">

        <div class="cont" style="text-align:center;">
          <div><h2>Table Tennis</h2></div>
          
          <div style="width:300px; margin:auto; text-align:center;">

            <div class="result-box">
              <h3>21</h3>
              <h4>Player one</h4>
            </div>

            <div class="vs" style="float:left;height:100px;">
              <h3>VS</h3>
            </div>

            <div class="result-box" >
              <h3>16</h3>
              <h4>Player Two</h4>
            </div>

          </div> 
        
        </div>

      </div>

      <div class="result pool">

        <div class="cont" style="text-align:center;">
          <div><h2>Table Football</h2></div>
          
          <div style="width:300px; margin:auto; text-align:center;">

            <div class="result-box">
              <h3>10</h3>
              <h4>Player one</h4>
            </div>

            <div class="vs" style="float:left;height:100px;">
              <h3>VS</h3>
            </div>

            <div class="result-box" >
              <h3>6</h3>
              <h4>Player Two</h4>
            </div>

          </div> 
        
        </div>

      </div>

    </div>


  </div>

</div>