<div class="container-fluid">

  <div class="col-sm-1 side-menu" style="margin-left:0px;"> 
    <h2>Menu</h2>
    <div class="glyphicon glyphicon-dashboard"></div>
    <div class="glyphicon glyphicon-user"></div>
    <div class="glyphicon glyphicon-search"></div>
    <div class="glyphicon glyphicon-cog"></div>
  </div>

  <h1>My Games</h1>

</div>

<div class="col-sm-11">

<div>