<%= render 'layouts/nav' %>
<div class="container menu-padding">
  <h1>FAQ</h1>
  <div class="col-md-12">
    <div class="question">
      <em><h3>How do I get my profile image to show up?</h3></em>
      <p>All images are loaded through the Gravatar API, please visit <em><a href="https://en.gravatar.com/">Gravatar.com</a></em> and register your email with your selected image.</p>
      </ul>
    </div>

    <div class="question">
      <em><h3>How do I add a new result?</h3></em>
      <p>To add a new result please ensure you have registered then, log in to your profile and click dashboard. At the top of the page you will see a green box with various drop down options, select the game you are playing, your opponent and enter the score. Once you click add you will be directed to the <em>"my-games"</em> page where you will see all the latest results.</p>
    </div>

    <div class="question">
      <em><h3>How to view the leagues page?</h3></em>
      <p>This is accessed through the navigation at the top of every page whether logged-in or not. If javascript is disabled on your browser then this will take you to a page with links to the various leagues</p>
    </div>

    <div class="question">
      <em><h3>?</h3></em>
      <p></p>
    </div>

    <div class="question">
      <em><h3>What is a forfeit?</h3></em>
      <p>A forfeit is decided between the players however as you are in a work enviroment please be considerate of your location <em>eg:"No naked runs around the office".</em> Getting donuts for the opponent is always welcome at funding circle!</p>
    </div>
  </div>
</div>