<%= render 'layouts/nav' %>
<div class="container menu-padding">
  <h1>Rules</h1>
  <div class="col-md-12">
    <div class="rules pool">
      <h2>Pool</h2>
      <ul>
        <li>The winner is decided once the black ball is potted</li>
        <li>A player can only pot the black once they have potted all their colours, if a player pots the black before this, then they lose</li>
        <li>A player must strike their colour ball first otherwise a foul</li>
        <li>A player will be given a forfeit if they are unable to pot any of their balls by the time the other player pots the black (A whitewash) </li>
      </ul>
    </div>
  </div>
  

  <div class="col-md-12">
    <div class="rules table-football">
      <h2>Table Football</h2>
      <ul>
        <li>The first player to reach 10 goals is the winner</li>
        <li>No "Spinning" of the players is allowed and possession may be awarded to the other player if an advantage is gained</li>
        <li>Drinks spilled on the table will result in forfeit from other player</li>
      </ul>
    </div>
  </div>
  

  <div class="col-md-12">
    <div class="rules table-tennis">
      <h2>Table Tennis</h2>
      <ul>
        <li>Matches will be played to either 21 or 11 points</li>
        <li>A player will have 5 serves (playing to 21) or 2 serves (playing to 11)</li>
        <li>The winner has to win by two clear points</li>
        <li>If both players require 1 point to victory then sudden death will commence with each player having only one serve each</li>
      </ul>
    </div>
  </div>
  

  <div class="col-md-12">
    <div class="rules fifa">
      <h2>Fifa</h2>
      <ul>
        <li>The winner is the player who scores the most goals at the end of the match</li>
        <li>A match can be any length agreed by both players before the commencement of the game</li>
        <li>If a player loses by 10 or more goals and is unable to score they will have to provide donuts for the other player and the team they work in</li>
      </ul>
    </div>
  </div>

  <div class="col-md-12" style="padding-bottom:20px;text-align:center;">
  <h4 style="line-height:1.5;">**Rules are for guidance only, players may decide other rules <em style="border-bottom:2px solid"><strong>before play commences</strong></em> and if in agreement then that rule takes precedence**</h4>
  </div>
  

</div>
