<%= render 'layouts/nav' %>
<div class="container-fluid menu-padding bg-hero fifa">

  <%= render 'leagues/side_menu' %>

  <div class="col-sm-11"> 
    
    <h1>Type of League</h1>
    
    <div class="league-select">
      <ul>
      <% @game_types.each do |game_type| %>
        <li><%= link_to game_type.name, league_path(game_type) %></li>
      <% end %>
      </ul> 
    </div>

  </div>

</div>