<div class="container-fluid">

  <div class="col-sm-1 side-menu" style="margin-left:0px;"> 
    <h2>Menu</h2>
    <div class="glyphicon glyphicon-dashboard"></div>
    <div class="glyphicon glyphicon-user"></div>
    <div class="glyphicon glyphicon-search"></div>
    <div class="glyphicon glyphicon-cog"></div>
  </div>

  <h1>My Games</h1>

  <% @game_groups.each_pair do |game_type, games| %>
    <h2><%= game_type.name %></h2>
    <% games.each do |game| %>
      <div class="result <%= game_type.name.downcase.split.join('-') %>">
      <% game.scores_for(current_player).each do |score| %>
        <div class="score">
          <%= Player.find(score.player_id).full_name %>: <%= score.value %>
        </div>
      <% end %>
      </div>
    <% end %>
  <% end %>

</div>

<div class="col-sm-11">

<div>