$primary-purple: #8E44AD;
$primary-green: #63ac43;

$secondary-purple: #9B59B6;
$secondary-green: #74b659;

$third-purple: #A77BB6;
$third-green: #8ab67a;

$white: rgb(250,250,250);
$grey: rgb(242,242,242);
$dark-grey: #95A5A6;


$primary-font: 'Source Sans Pro', 'sans-serif';
$secondary-font: 'Ubuntu', 'sans-serif';


$btn-color: $third-purple;
$btn-border-radius: 2px;
$btn-font-color: $white;
$btn-padding: 5px 15px 5px;