$purple: #A77BB6;
$green: #8ab67a;
$red: #b67989;
$blue: #7989b6;

$dark-purple: #7d5c88;
$dark-green: #67885b;
$dark-red: #885a66;
$dark-blue: #5a6688;


$white: rgb(250,250,250);
$grey: rgb(242,242,242);
$dark-grey: #95A5A6;

$primary-font: 'Source Sans Pro', 'sans-serif';
$secondary-font: 'Ubuntu', 'sans-serif';
