// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.side-menu {
  text-align: center;
}

.colorbox {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: block;
  float:left; 
}

.game {
  background: rgba(56, 64, 71, 0.6);
  box-shadow: 0 4px 0 0 rgba(167, 123, 182, 0.7);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  hr { border:1px solid $white; width: 50%}
  h3 {
    background: $purple;
    margin: 0;
    padding: 10px 0 10px 30px;
  }
  ul {
    list-style: none;
    h5 {
      margin-left: 35px;
    }
  }
}

.result {
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px; 
  input {
    border-radius: 5px;
    background: $white;
    box-shadow: 0 5px 0 0 darken($white, 20%);
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  header {
    margin-bottom: 20px;
    a {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      font-size: 0.8em;
      position: relative;
      top: -2.4em;
      &.delete-result {
        margin-right: 20px;
      }
    }
  }
  
  &.fifa {
    background: $green;
    box-shadow: 0 5px 0 0 darken($green, 20%);
    header {
      background: $dark-green;
    }
  }
  &.pool {
    background: $blue;
    box-shadow: 0 5px 0 0 rgba(147,160,196, 0.7);
    header {
      background: $dark-blue;
    }
  }
  &.table-tennis {
    background: $red;
    box-shadow: 0 5px 0 0 rgba(196,147,160, 0.7);
    header {
      background: $dark-red;
    }
  }
  &.table-football {
    background: $purple;
    box-shadow: 0 5px 0 0 rgba(184,149,196, 0.7);
    header {
      background: $dark-purple;
    }
  }
}

.result-box {
  width:40%;
  display: inline-block;
  float: left;
  h3 {
    background: $white;
    border-radius: 5px;
    box-shadow: 4px 4px 0px 1px rgba(220, 220, 220, 0.6);
    font-size: 120px;
    line-height:0.8;
    margin-top: 0px;
    padding-bottom: 7px;
    color: $bg-black;
  }
  h4 {
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 2px solid $white;
    font-size: 20px;
  }
}

.vs {
  width: 20%;
  h3 {
    margin-top: 35px;
  }
}

.col-sm-1.side-menu {
  padding-left: 0px;
  padding-right: 0px;
  height: 1000px;
  h3 a {
    font-size:24px;
  }
  a {
    font-size:50px;
    margin-top:20px;
    color: $white;
    &:hover {
      text-decoration:none;
      color: darken($white, 20%);
      }
    }   
  }

@media only screen and (min-width: 1080px) {
  .side-menu {width:90px;}
}

@media only screen and (max-width: 767px) {
  .side-menu {
    h3, img, a {
      display: inline-block;
    }
    #logo-sm {
      width: 60px;margin-top: 0px;
    } 
  }
  .col-sm-1.side-menu {
    height: 100%;
  }
  .col-sm-1.side-menu a {
    margin-top: 0px;
  }
}














