// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.alert, .notice {
	margin: 0px;
}

.alert, .notice, .hero-wrap {
	background: $white;
}

.hero-wrap {
	padding-bottom: 30px;
}

.league-wrap {
	background: $purple;
}

.league-box {
	border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0,0,0, 0.2);
	background: $grey;
	margin: 30px 10px;
	padding: 5px 10px;
	height: 250px;
	min-width: 250px;
	cursor: pointer;
	h1 {
		text-align: center;
	}
	&:hover{
		-webkit-animation: pop-out 1s;
		-webkit-animation-fill-mode: forwards;
	}
}

@-webkit-keyframes pop-out
{
0% {-webkit-transform: scale(1.0,1.0);}
100% {-webkit-transform: scale(1.1,1.1);}
}

.popup-hero{
	text-align: center;
}
#hero {
	margin-bottom: -30px;
	max-width: 100%;
}
