// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.hero-wrap {
	padding-bottom: 30px;
	background: rgba(167, 123, 182, 0.4);
	height: 100%;
	article {
		padding-top: 170px;
    h3 {font-weight: 300;}
	}
}

.hero2-wrap {
	background: rgba(167, 123, 182, 0.4);
	height: 100%;
}

.league-wrap {
	background: $bg-black;
	height: 100%;
	.container a {
		&:hover, &:focus {
			color: $white;
			text-decoration: none;
		}
	}
}

.league-box {
	border-radius: 5px;
	margin: 60px 5px;
	padding: 5px 10px;
	min-width: 250px;
	cursor: pointer;
	h2 {
		text-align: center;
		border-radius: 5px;
	}
	table {
		width: 100%;
		.player_name span {
			margin-left: 5%;
		}
		.avatar {
      width: 30px;
      border: 1px solid $white;
      border-radius: 50%;
      margin-bottom: 5px;
    }
	}
	&:hover{
		-webkit-animation: pop-out 1s;
		-webkit-animation-fill-mode: forwards;
	}
	&.fifa {
		background: $green;
		box-shadow: 0 5px 0 0 rgba(161,196,148, 0.7);
		h2 {
			background: $dark-green;
		}
	}
	&.pool {
		background: $blue;
		box-shadow: 0 5px 0 0 rgba(147,160,196, 0.7);
		h2 {
			background: $dark-blue;
		}
	}
	&.table-tennis {
		background: $red;
		box-shadow: 0 5px 0 0 rgba(196,147,160, 0.7);
		h2 {
			background: $dark-red;
		}
	}
	&.table-football {
		background: $purple;
		box-shadow: 0 5px 0 0 rgba(184,149,196, 0.7);
		h2 {
			background: $dark-purple;
		}
	}
}



@-webkit-keyframes pop-out
{
0% {-webkit-transform: scale(1.0,1.0);}
100% {-webkit-transform: scale(1.1,1.1)}
}

#hero {
		background: url(backgrounds/table_tennis2.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
}

#hero2 {
		background: url(backgrounds/james_pool.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}

@media only screen and (max-width: 992px) {
	#hero {height: 500px;}
	.hero-wrap article { padding-top: 100px;}
}

@media only screen and (max-width: 670px) {
	#hero {height: 400px;}
	#hero2 {height: 400px;}
}

@media only screen and (max-width: 500px) {
	#hero {height: 300px;}
	#hero2 {height: 300px;}
	.hero-wrap article { padding-top: 0px;}
	.league-box {
		h2 {
			margin-top: 5px;
			margin-bottom:5px;}
		table .avatar {display: none;}
	}
}


