// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "variables";

.league {
  border-radius: 5px;
  margin: 20px 10px 50px;
  h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  &.fifa {
    background: $green;
    box-shadow: 0 5px 0 0 rgba(161,196,148, 0.7);
    table tr th div {
      background: $dark-green;
    }
    table tr:nth-child(2n+3) {
      background: $dark-green;
    }
  }
  &.pool {
    background: $blue;
    box-shadow: 0 5px 0 0 rgba(147,160,196, 0.7);
    table tr th div {
      background: $dark-blue;
    }
    table tr:nth-child(2n+3) {
      background: $dark-blue;
    }
  }
  &.table-tennis {
    background: $red;
    box-shadow: 0 5px 0 0 rgba(196,147,160, 0.7);
    table tr th div {
      background: $dark-red;
    }
    table tr:nth-child(2n+3) {
      background: $dark-red;
    }
  }
  &.table-football {
    background: $purple;
    box-shadow: 0 5px 0 0 rgba(184,149,196, 0.7);
    table tr th div  {
      background: $dark-purple;
    }
    table tr:nth-child(2n+3) {
      background: $dark-purple;
    }
  }
  table {
    width: 100%;
    margin: 20px 0px;
    .pos {
      margin: 10px 0px;
      width: 10px;
      padding-left: 3px;
    }
    tr th div {
      border-radius: 5px;
      margin: 10px 15px;
      text-align: center;
      font-size: 1.4em;
    }
    tr td div {
      border-radius: 5px;
      margin: 10px 15px;
      text-align: center;
      font-size: 1em;
      span {
        font-size: 1.1em;
        margin-left: 5%;
      }
    }
    .player_name {
      margin-left: 5%;
      text-align: left;
    }
    .avatar {
      width: 40px;
      border: 1px solid $white;
      border-radius: 50%;
    }
  }
}

.league-button {
  border-radius: 5px;
  padding: 2px 10px 10px 10px;
  margin: 10px;
  background: rgba(56, 64, 71, 0.8);
}

.hero-wrap2 {
  background: rgba(56,64,71, 0.5);
  height: 100%;
}

  #fifa{
    background: url(backgrounds/break_out.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #table-football{
    background: url(backgrounds/table_football.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #table-tennis{
    background: url(backgrounds/table_tennis.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #pool{
    background: url(backgrounds/james_pool.jpg) 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


@media only screen and (max-width: 992px) {
  .league table {
    .avatar {
      width: 30px !important;
    }
    tr th div {
      font-size: 1.2em;
      span {
        margin-left: 1%;
      }
    }
  }
  
}
@media only screen and (min-width: 671px) {
  .mobile { display:none;}
}

@media only screen and (max-width: 670px) {
  .league table tr th div {
    border-radius: 0px;
    margin: 10px 0px;
  }
  .not-mobile {display: none;}
}
@media only screen and (max-width: 500px) {
  .league table .avatar {display: none;}
}