<footer class="footer-wrap">
  <div class="container">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" style="text-align:center;">
      <%= image_tag("funderleague_logo.png", :alt => "logo", :id => "bottom-logo" ) %>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</footer>

<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
</body>
</html>